<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="glamvoir.appzstack.glamvoir">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />



    <permission
        android:name="glamvoir.appzstack.glamvoir"
        android:protectionLevel="signature" />

    <uses-permission android:name="glamvoir.appzstack.glamvoir" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_logo"
        android:label="@string/app_name"
        android:name=".acra.GlamvoirApplication"
        android:theme="@style/MyMaterialTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.FrontPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />


        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".activity.SignUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".activity.SigninActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".activity.FollowersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".activity.FollowingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".activity.MyPostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".activity.MysaveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".activity.MyAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".activity.AlertActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".activity.AddStory"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.MyCityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".activity.FaqActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".activity.Privacy_Policy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".activity.Term_and_Condition"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".activity.Contact_Us"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".activity.CommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".activity.RequestToChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".activity.MyUpdatePassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".activity.LikeListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".activity.SearchResultsActivity"
            android:screenOrientation="portrait">

           <!-- <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />-->

        </activity>

        <activity
            android:name=".activity.CustomGalleryActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="luminous.ACTION_MULTIPLE_PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <service
            android:name=".intentservice.ObserveFFSPIntentService"
            android:exported="false" />

        <service
            android:name=".intentservice.NetworkIntentService"
            android:exported="false" />

        <!-- Network change detector -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.glamvoir.appzstack.glamvoir.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.GcmIntentService"
            android:exported="true" />


    </application>

</manifest>
